body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
  background-color: #553F71;
  color: #8ED3CC;
}

ol, ul {
  padding-left: 30px;
}

button{
 background-color: #EF4D4E;
 color: #FDF4D9;
 font: 14px "Century Gothic", Futura, sans-serif;
 border-radius: 5px;
 border: 0px solid #8ED3CC;
}

#ref {
　color: #8ED3CC;
}

#errors {
  background: #00;
  color: #fff;
  display: none;
  margin: -20px -20px 20px;
  padding: 20px;
  white-space: pre-wrap;
}
  
.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
}

.square {
  background-color: #553F71;
  color: #8ED3CC;
  border: 1px solid #8ED3CC;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 34px;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
  flex-direction: row;
}

.game-info {
  margin-left: 20px;
}
